.nav__container {
  overflow: auto;
  scroll-behavior: smooth;
  max-width: 50rem;
  height: 3rem;
  line-height: 3rem;
}

.nav__container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}
.nav__container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.nav__item {
  grid-template-columns: repeat(2, minmax(2rem, 4rem));
}

.nav__item .active {
  background-color: aqua;
}
