.nav__container {
  overflow: auto;
  scroll-behavior: smooth;
  max-width: 50rem;
  height: 3rem;
  line-height: 3rem;
}

.nav__container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}
.nav__container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.nav__item {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: max-content;
  width: 8rem;
  justify-content: space-between;
}

.active {
  background-color: aqua;
}
